{% extends 'core/base.html' %}
{% block content %}

<h2>Import CSV</h2>

<form method="post" enctype="multipart/form-data" class="card p-4">
    {% csrf_token %}

    <div class="mb-3">
        <label>Tipe Data</label>
        <select name="type" class="form-control">
            <option value="users">User</option>
            <option value="courses">Course</option>
            <option value="members">Member</option>
        </select>
    </div>

    <div class="mb-3">
        <label>Upload File CSV</label>
        <input type="file" name="file" class="form-control">
    </div>

    <button class="btn btn-primary">Upload</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info mt-3">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}